.intro {
  text-align: left;
  margin: 0 347px 118px 148px;
}
.intro__title {
  max-width: 785px;
  margin: 0;
  padding: 0 0 40px 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
}
.intro__text-quote {
  max-width: 720px;
  margin: 0;
  padding: 0 0 10px 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.intro__text-author {
  max-width: 720px;
  margin: 0;
  padding: 0 0 32px 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
}
.intro__text-paragraph {
  max-width: 720px;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 0 24px 90px;
  }
  .intro__title {
    padding: 0;
    margin-bottom: 40px;
  }
  .intro__text-quote {
    padding: 0;
    margin: 0 0 10px 0;
  }
  .intro__text-author {
    padding: 0;
    margin: 0 0 32px 0;
  }
  .intro__text-paragraph {
    text-align: left;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    display: flex;
    flex-direction: column;

    margin: 0 16px 78px 16px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
  .intro__text-quote {
    line-height: 30px;
  }
}
