.header {
  text-align: center;

  margin: 0 auto 90px;
}
.header__logo {
  padding-top: 34px;
}

@media (max-width: 320px) {
  .header {
    margin-bottom: 50px;
  }

  .header__logo {
    max-width: 200px;
    padding: 20px 0 0 0;
    margin: 0;
  }
}
